.background-body {
    background-color: #7ba6c3;
}

.info-body {
    color: #2c3849;
}

.background-header {
    background-color:#96B9D0 !important;
}

.style-heading {
    font-weight: bold !important; 
    color: rgb(230, 224, 220) !important;
}

.style-table {
    background-color:#ffb5b1 !important;
    color:rgb(75, 74, 74) !important;
}

.color-body {
    color: rgb(80, 75, 75);
}

.btn-submit {
    background-color: #5d6c81 !important;
    color: aliceblue !important;
}

.error {
    color: red;
}