<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Inicio </title>
    <link rel="stylesheet" type="text/css" href="https://anakena.dcc.uchile.cl/~cc500210/cgi-bin/tarea-3/css/style_index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="index-body">
    <div class="menu">
        <h1 class="index-title">INICIO</h1>
        <div class="paginas">
            <p class="p-line"><a class="font-color-index" href="https://anakena.dcc.uchile.cl/~cc500210/cgi-bin/tarea-3/cgi-bin/agregar_viaje.py">Agregar Viaje</a></p>
            <p class="p-line"><a class="font-color-index" href="https://anakena.dcc.uchile.cl/~cc500210/cgi-bin/tarea-3/cgi-bin/agregar_encargo.py">Agregar Encargo</a></p>
            <p class="p-line"><a class="font-color-index" href="https://anakena.dcc.uchile.cl/~cc500210/cgi-bin/tarea-3/cgi-bin/ver_viajes.py">Ver Viajes</a></p>
            <p class="p-line"><a class="font-color-index" href="https://anakena.dcc.uchile.cl/~cc500210/cgi-bin/tarea-3/cgi-bin/ver_encargos.py">Ver Encargos</a></p>
        </div>
        {0}
    </div>
</body>

</html>