<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{0}</title>
    <link rel="stylesheet" type="text/css" href="https://anakena.dcc.uchile.cl/~cc500210/cgi-bin/tarea-3/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="background-body">
    <section class="background-header jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading style-heading">{1}</h1>
        </div>
    </section>
    <div class="container">
        <table id="trips" class="table table-hover table-bordered style-table">
            <tr id="columns">
                <th id="origen" scope="col">Origen</th>
                <th id="destino" scope="col">Destino</th>
                {2}
                <th id="espacio" scope="col">Espacio</th>
                <th id="kilos" scope="col">Kilos</th>
                <th id="email" scope="col">Email</th>
                {3}
            </tr>
            {4}
        </table>
        {5}
    </div>
    <script src="https://anakena.dcc.uchile.cl/~cc500210/cgi-bin/tarea-3/js/JSTools.js"></script>
</body>