<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {0}</title>
    <link rel="stylesheet" type="text/css" href="https://anakena.dcc.uchile.cl/~cc500210/cgi-bin/tarea-3/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="background-body info-body">
    <section class="jumbotron background-header">
      <div class="container">
        <h1 class="jumbotron-heading style-heading">{1}</h1>
      </div>
    </section>
    {2}
    <script src="https://anakena.dcc.uchile.cl/~cc500210/cgi-bin/tarea-3/js/JSTools.js"></script>
</body>